@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200..700&family=SUSE:wght@100..800&display=swap");

.suse {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex-sans-thin {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-sans-extralight {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex-sans-light {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-sans-medium {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-sans-semibold {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-sans-bold {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ibm-plex-sans-thin-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.ibm-plex-sans-extralight-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.ibm-plex-sans-light-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ibm-plex-sans-regular-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ibm-plex-sans-medium-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ibm-plex-sans-semibold-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.ibm-plex-sans-bold-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}
/*END OF FONTS*/

:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.13), 0px 0.7px 0.8px -1.3px hsl(var(--shadow-color) / 0.13),
        0px 1.7px 1.9px -2.6px hsl(var(--shadow-color) / 0.12);
    --shadow-elevation-medium: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.14), 0px 1.3px 1.4px -0.9px hsl(var(--shadow-color) / 0.13),
        0.1px 3.5px 3.9px -1.7px hsl(var(--shadow-color) / 0.13), 0.2px 8.6px 9.5px -2.6px hsl(var(--shadow-color) / 0.13);
    --shadow-elevation-high: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.13), 0.1px 2.6px 2.9px -0.4px hsl(var(--shadow-color) / 0.13),
        0.1px 4.9px 5.4px -0.7px hsl(var(--shadow-color) / 0.12), 0.2px 8.1px 9px -1.1px hsl(var(--shadow-color) / 0.12),
        0.3px 13.2px 14.7px -1.5px hsl(var(--shadow-color) / 0.12), 0.5px 20.7px 23px -1.9px hsl(var(--shadow-color) / 0.12),
        0.7px 31.7px 35.2px -2.2px hsl(var(--shadow-color) / 0.12), 1.1px 46.9px 52.1px -2.6px hsl(var(--shadow-color) / 0.12);
}
/*Shadow Palette*/

:root {
    --main-color: #a78f6e;
    --light-main-color: #dcc4aa;
    --dark-main-color: #5d4326;
    --accent-color: #b4814a;
    --light-accent-color: #d4c4a8;
    --dark-accent-color: #444444;
}
/*Color Palette*/

* {
    padding: 0px;
    margin: 0px;
}
/*Nuking padding and margin*/

:root {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}

body {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navBar {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: var(--dark-accent-color);
    box-shadow: var(--shadow-elevation-medium);
}

.navBar ul {
    display: flex;
    width: fit-content;
    list-style: none;
    justify-content: flex-end;
}

.navElement {
    transition: all 0.3s;
    padding: 10px;
    background-color: var(--dark-accent-color);
}

.navElement a {
    text-decoration: none;
    color: var(--light-accent-color);
}

.navElement:hover {
    transition: all 0.3s;
    transform: scale(125%);
    box-shadow: var(--shadow-elevation-high);
}

.navElement:active {
    transition: all 0.3s;
}

.title {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 800 !important;
    text-decoration: none;
    color: var(--light-accent-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: var(--dark-accent-color);
    width: 100vw;
    color: var(--light-accent-color);
}

.footerlink {
    text-decoration: none;
    color: var(--light-accent-color);
    margin: 10px;
}

.copyright {
    margin-left: 10px;
}
