.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--dark-accent-color);
    box-shadow: var(--shadow-elevation-medium);
}

.navBar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navElement {
    margin-left: 2rem;
}

.navElement a {
    text-decoration: none;
    color: var(--light-accent-color);
    font-weight: 500;
    transition: all 0.3s ease;
}

.navElement a:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--light-accent-color);
    transition: all 0.3s ease;
}

.title:hover {
    color: var(--accent-color);
    transform: scale(1.05);
}
