.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
}

main {
    flex: 1;
    padding: 2rem;
}

.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
}
