.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
}

main {
    flex: 1;
    padding: 2rem;
}

.footer {
    background-color: var(--dark-accent-color);
    padding: 1rem 2rem;
    margin-top: auto;
    color: var(--light-accent-color);
}

.copyright {
    margin: 0;
    color: var(--light-accent-color);
}

.linkWrapper {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.footerlink {
    text-decoration: none;
    color: var(--light-accent-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

.footerlink:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
}
